:root {
    --bg-color: #1f212d;
    --sidebar-bg: #1f212d;
    --card-bg: #1f212d;
    --text-color: #ffffff;
    --text-muted: #9ca3af;
    --accent-color: #8b5cf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {

    z-index: 999;
    display: flex;
    min-height: 100vh;
}



.sidebar {
    width: 240px;
    background-color: var(--sidebar-bg);
    padding: 80px 16px 16px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover{
    background-color: var(--accent-color);
}


.promo-card {
    margin-top: 24px;
    padding: 16px;
    background-color: var(--card-bg);
    border-radius: 8px;
}

.promo-card i {
    color: var(--accent-color);
    margin-bottom: 8px;
}

.promo-card p:first-of-type {
    font-weight: 600;
    margin-bottom: 4px;
}

.promo-card p:last-of-type {
    font-size: 12px;
    color: var(--text-muted);
}

main {
    flex: 1;
    padding: 80px 24px 24px 264px;
}



.content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.recipe-image {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

/* Section Headings */
.content h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: rgb(6, 59, 118);
}

/* List Styles */
.ingredients-list li,
.steps-list li {
    background: #721fe6;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background: #0c000c;
    color: #fff;
    font-size: 0.9em;
}


.h1{
    padding: 2% 25% 2% 25%;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 10px;
}

#about{
    background-color: var(--bg-color);
}